@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes bounce {
  from {
    transform: translateY(3px);
  }
  to {
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(3px);
  }
  to {
    transform: translateY(-3px);
  }
}
.dribble {
  animation: bounce 0.2s infinite alternate;
  -webkit-animation: bounce 0.2s infinite alternate;
}
