/**
 * Message Block
**/
.message__container {
  padding: 10px 10px;
}
.message__container span {
  display: inline-block;
}
.message__icon {
  border-radius: 50%;
  padding: 17px;
  margin: 0px 10px;
  vertical-align: top;
  font-size: 0.8em;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 0.1em;
  opacity: 0;
}
.message__list {
  max-width: 380px;
  display: inline-block;
}
.message__content {
  opacity: 0;
  text-align: left;
  background-color: white;
  border-radius: 25px;
  padding: 15px 25px;
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 0.02em;
  word-spacing: 0.04em;
  line-height: 1.5em;
}
.message__container.left .message__icon {
  background-color: #E3BEB4;
}
.message__container.left .message__content {
  color: #3B3454;
}
.message__container.right .message__icon {
  background-color: #9DB2D7;
}
.message__container.right .message__content {
  background-color: #3B3454;
  color: rgb(224, 222, 228);
}

/**
 * Next Slider Button
**/
.next-slider {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #3B3553;
  display: flex;
  opacity: 0;
  cursor: pointer;
}
.next-slider img {
  width: 20px;
  height: 35px;
  display: block;
  align-self: center;
}

